@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50;
  font-family: system-ui, sans-serif;
}

* {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

@theme {
  --color-brand-50: #f0eeff;
  --color-brand-100: #ddd9ff;
  --color-brand-500: #6c47ff;
  --color-brand-600: #5535e0;
  --color-brand-700: #4227b8;
}